    *{
      font-family: Verdana, Arial, Helvetica, sans-serif;
    }

    #fondo_cuadro {
      margin-right: 50px;
      background-color: #E1F1FF;
      padding: 25px 25px 25px;
      border-radius: 10px;
      text-align: left;
    }

    .row {
      grid-row: 1;
      margin-top: 50px;
    }

    .row2{
      grid-row: 1;
      margin-top: 0px;
      margin-left: 10px;
      margin-right: 10px;
    }